@import url(structure.css);
body{
	background-color: #333;
	background-image: url("bg.png");
	height:100vh;
	font-size: 16pt;
	font-family: Consolas,sans-serif;
	color:white;
}
a{
	text-decoration: none;
	color:inherit;
}
.blue{color:#69F;}/*blue*/
.red{color:#F66;}/*red*/
.green{color:#2A4;}/*green*/
.yellow{color:#EC2;}/*yellow*/
.gray{color:#CCC;}/*gray*/

#title{
	background-size: contain;
	background-repeat: no-repeat;
	margin: 20px;
}
#title>img{
	width:100%;
	max-width: 625px;
	display: block;
}
#content{
	margin: 0 30px 30px 30px;
	border-radius: 10px;
	background-color: rgba(224,224,255,0.2);
}
#navbar{
	padding: 20px;
	color:black;
}
.button{
	border-radius: 5px;
	padding: 5px;
	background-color: #BBF;
	text-align: center;
}
.button:hover,.button:focus{
	background-color: #FFB;
}
#content-box{
	overflow-y:scroll; 
	padding: 0 15px 30px 30px;
	position: relative;
}
#content-box>div{
	width: 100%;
}
#content-box>div:not(:first-child){
	display: none;
}
.title{
	font-size: 150%;
}
#agenda{
	height: 100%;
}
#agenda>div{
	margin: auto;
	width:100%;
	max-width: 900px;
	height: 100%;
}
#agenda>table,#agenda th,#agenda td{
	border-collapse: separate;
	border-spacing: 3px;
}
#agenda th{
	background-color: rgba(0,0,0,0.4);
	font-weight: normal;
	font-size: 75%;
}
#agenda td{
	background-color: rgba(0,0,0,0.3);
	padding: 5px 15px;
}
#agenda td:not(:first-child):hover{
	background-color: rgba(255,255,255,0.1);
}
#agenda td:first-child{
	font-size: 75%;
	text-align: center;
}
#agenda td>i{
	font-size: 75%
}
#agenda .center>td{
	text-align: center;
}
#agenda a{
	display: block;
}
#agenda a + div{
	position: absolute;
	width:calc(100% - 15px);
	height:calc(100% - 15px);
	top: 0;
	left:15px;
	background-color:rgba(0,0,0,0.8);
	border-radius: 20px;
	opacity: 0;
	transform: scale(0);
	transition: all 300ms;
}
#agenda a:focus + div{
	opacity: 1;
	transform: scale(1);
}







p.eng{
	font-family: Verdana;
	line-height: 150%;
}
#trans{
	height: 100%;
}
#sponsor,#sponsor>div{
	text-align: center;
	height: 100%;
}
#sponsor img{
	width: 75%;
	padding-top: 20px;
}

/*----------photos-----------*/
#history,#history>div{
	height: 100%;
}
#photos *{
	-webkit-transition: all 300ms;
	   -moz-transition: all 300ms;
		-ms-transition: all 300ms;
		 -o-transition: all 300ms;
			transition: all 300ms;
}
.photo{
	background-size:cover;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.2);
}
#A.photo{
	background-image: url(photo8.jpg);
	background-position: center;
}
#B.photo{
	background-image: url(photo3.jpg);
	background-position: right center;
}
#C.photo{
	background-image: url(agenda.jpg);
	background-position: right center;
}
#D.photo{
	background-image: url(photo5.jpg);
	background-position: bottom right;
}
#E.photo{
	background-image: url(photo4.jpg);
	background-position: left center;
}
#F.photo{
	background-image: url(sales.jpg);
	background-position: left center;
}
#history p{
	margin-top: 0;
}