div.flex{
	display:flex;
}
.column{
	-webkit-flex-direction:column;
	   -moz-flex-direction:column;
			flex-direction:column;
}
.row{
	-webkit-flex-direction:row;
	   -moz-flex-direction:row;
			flex-direction:row;
}
#SAMPLE{
	-webkit-flex:4 0 0;
	   -moz-flex:4 0 0;
			flex:4 0 0;
}
