/*----------general-----------*/
@import url(structure.css);
*{
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
		-ms-box-sizing: content-box;
		 -o-box-sizing: content-box;
			box-sizing: content-box;
}
body{
	margin: 0;
	font-family: Consolas,monospace,微軟正黑體;
	background-color: #222;
	color: #DDD;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 12pt;
	height: 100vh;
}
#view{
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-top: 30px;
}
#view::-webkit-scrollbar {
	padding:0;
}
#view::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,0.4);
	border-radius: 100px;
}
#loading{
	position: fixed;
	width:100%;
	height:100vh;
	background-color: #222;
	z-index:70;
	opacity: 1;
	-webkit-transition: all 800ms;
	   -moz-transition: all 800ms;
		-ms-transition: all 800ms;
		 -o-transition: all 800ms;
			transition: all 800ms;
	font-size:20pt;
}
#loading>span{
	display: block;
	position: fixed;
	left:5%;
	bottom:5vh;
	-webkit-transition: all 800ms;
	   -moz-transition: all 800ms;
		-ms-transition: all 800ms;
		 -o-transition: all 800ms;
			transition: all 800ms;
	opacity: 0;
	color:#EC2;
}
.page{
	width: 100%;
	-webkit-transition: all 400ms;
	   -moz-transition: all 400ms;
		-ms-transition: all 400ms;
		 -o-transition: all 400ms;
			transition: all 400ms;
	background-color: #222;
}
/*----------title-----------*/
#title{
	z-index:50;
	text-align: center;
}
#titlepic{
	position: fixed;
	width:135%;
	padding: 3vw 5% 15px 5%;
	border-bottom: none;
	z-index:80;
	-webkit-transition:all 800ms;
	   -moz-transition:all 800ms;
		-ms-transition:all 800ms;
		 -o-transition:all 800ms;
			transition:all 800ms;
	top:37vh;
	left:100%;
}
#title>div{
	width:100%;
}
.titletext{
	font-size: 32pt;
	text-align: center;
	padding: 40px 0;
}
.text{
	margin: 0 30px 0 50px;
	text-align: left;
}
span.symbol{color:#69F;}
span.include{color:#F66;}
span.preserve{color:#3C6;}
span.brackets{color:#EC2;}
span.value{color:#F66;}
.text>p>*{position: relative;}
.text>p>span>.line{
	color:#888;
	display: inline-block;
	position: absolute;
	text-align: right;
	left: -3em;
	width: 2em;
	border-right:solid 5px #6C6;
	padding-right: 4px;
}
#to-info{
	position: relative;
	height:14vh;
	opacity: 0.4;
	-webkit-transition: all 150ms cubic-bezier(.5,1,.5,1);
	   -moz-transition: all 150ms cubic-bezier(.5,1,.5,1);
		-ms-transition: all 150ms cubic-bezier(.5,1,.5,1);
		 -o-transition: all 150ms cubic-bezier(.5,1,.5,1);
			transition: all 150ms cubic-bezier(.5,1,.5,1);
	-webkit-animation: bounce 2s infinite;
	   -moz-animation: bounce 2s infinite;
		-ms-animation: bounce 2s infinite;
		 -o-animation: bounce 2s infinite;
			animation: bounce 2s infinite;
}
@-webkit-keyframes bounce{
	from{top:-2vh;}
	50%{top:0;}
	to{top:-2vh;}
}
@-moz-keyframes bounce{
	from{top:-2vh;}
	50%{top:0;}
	to{top:-2vh;}
}
@-ms-keyframes bounce{
	from{top:-2vh;}
	50%{top:0;}
	to{top:-2vh;}
}
@-o-keyframes bounce{
	from{top:-2vh;}
	50%{top:0;}
	to{top:-2vh;}
}
@keyframes bounce{
	from{top:-2vh;}
	50%{top:0;}
	to{top:-2vh;}
}
#to-info:hover{
	-webkit-transform: scale(1.2);
	   -moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		 -o-transform: scale(1.2);
			transform: scale(1.2);
	opacity: 1;
}
#to-info:active{
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		 -o-transform: scale(1.1);
			transform: scale(1.1);
	opacity: 0.7;
}
/*----------photos-----------*/
#photos{
	margin-right: 3vw;
	min-height: 50vh;
	max-height: 70vh;
}
.photo{
	background-size:cover;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.2);
}
#A.photo{
	background-image: url(../pic/photo8.jpg);
	background-position: center;
}
#B.photo{
	background-image: url(../pic/photo3.jpg);
	background-position: right center;
}
#C.photo{
	background-image: url(../pic/agenda.jpg);
	background-position: right center;
}
#D.photo{
	background-image: url(../pic/photo5.jpg);
	background-position: bottom right;
}
#E.photo{
	background-image: url(../pic/photo4.jpg);
	background-position: left center;
}
#F.photo{
	background-image: url(../pic/sales.jpg);
	background-position: left center;
}

/*----------info-----------*/
#info{
	background-color: #222;
	z-index:40;
	margin-bottom: 30px
}
#info-narrow{
	display: none;
}
#lecture-info{
	min-height: 30vh;
}
#infotext{
	height: calc( 100% - 124px );
}
.info-left{
	border-right: solid 5px rgba(255,255,255,0.4);
}
.info-right{
	border-left: solid 5px rgba(255,255,255,0.4);
}
.button{
	text-align: center;
	padding:30px 0;
	position: relative;
	bottom:0;
}
button{margin: 30px 0;}
#lecture-info{
	left:0;
	overflow-x: hidden;
}
#form{
	border-width: 0;
	-webkit-transition: all 400ms;
	   -moz-transition: all 400ms;
		-ms-transition: all 400ms;
		 -o-transition: all 400ms;
			transition: all 400ms;
	z-index: 48;
	width: 100vw;
	background-color: #222;
	height:100%;
	display:none;
	margin-top: 20px;
}
@media only screen and (max-width: 800px){
body{font-size: 12pt;}
#title>div{
	-webkit-flex-direction:column;
	   -moz-flex-direction:column;
		-ms-flex-direction:column;
		 -o-flex-direction:column;
			flex-direction:column;
}
.text{margin: 0 50px 0 70px;}
#photos{display:none;}
.titletext{
	font-size: 24pt;
	padding: 15px 0;
}
#info{display: none;}
#info-narrow{display: initial;}
.info-left{border:none;}
.info-right{border:none;}
#lecture-info{min-height:initial;}
#club-info{margin-top: 20px;}
#info-narrow>a{
	display: block;
	text-align: center;
}
button{margin:0;}
#view{padding-top: 15px;}
}
@media only screen and (min-width: 1400px){
body{font-size: 16pt;}
.text{margin: 0 80px 0 100px;}
#view{padding-top: 45px;}
}